 {% extends "main.html" %}
{% block content %}
{% include "header.html" %}


	<div class="row divider red">
		<div class="col-md-12"></div>
	</div>
<div class="row banner main">
		
		<div class="address">
			<h1> Catalog App </h1>
		</div>
	</div>
<br />
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<br />
 <div>
   <a href="{{url_for('newCategory')}}">
   <button class="btn btn-default" id="new-menu-item">
	<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add New category
	</button>
	</a>
</div>

<br/>

<div class="container">
     <div class="row">
         <div class="col">
             <h2>Categories </h2> 
             <br/>
        
		{% for categ in category %}
    <a href = "{{url_for('categoryItems',category_id=categ.id)}}">
		<h3> {{categ.name}}</h3>
        </a>
		{% endfor %}
	</div>
         <div class="col">
            <h2>Latest items </h2>
             <br/>
             {% for last in lastItems %}
            <h3> {{last.name}}</h3>
             
             {% endfor %}
         </div>
	
    </div>
</div>
{% endblock %}